################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JupiterToys/.vs/JupiterToys
/JupiterToys/bin/Debug/netcoreapp3.1
/JupiterToys/obj
